@import "tailwindcss";

html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  background-color: #000;
}

body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  background-color: #000;
  margin: 0;
}